<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KoplakMungkin"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.main.koprasell.createnews.CreateNewsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.koprasell.createnews.createnews"
            android:exported="false" />
        <activity
            android:name=".ui.main.koprasell.createfeed.CreateFeedActivity"
            android:exported="false" />
        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.opening.OpeningActivity"
            android:exported="false" />
        <activity
            android:name=".ui.locationpermission.LocationPermissionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.onboarding.OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.PersonalDataActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splashscreen.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.koplakmungkin.mycamera"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>